body{
  background-color: white;
  color:rgb(255, 38, 0);
}
h1{
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
  background-color: pink;
  color: white;
  text-align-last:center ;
  direction: ltr;
  border: 2px solid green;

}
header{
  position: sticky;
  top: 0;
}
.demo1{
  text-align:left;
  font-family:'Courier New', Courier, monospace ;


}
.demo2{
  text-align:right;
  font-family: arial;

}
.demo3{
  text-align:center;
  font-family: 'Gill Sans';

}
img{
  vertical-align: center;
  width: 200px;
  height:200px ;
 

}
span{
  vertical-align:top ;
}
/*Text decoration line  */
.demo4{
  text-decoration: underline;
  text-decoration-color: black;
  text-align: center;
  vertical-align:top ;
  text-decoration-style: dashed;
  font-size:16px;
}
.demo5{
  text-decoration-line: overline;
  text-decoration-color: aqua;
vertical-align:top ;
  text-align: center;
  text-decoration-style: dotted;

}
.demo6
{
  text-decoration: line-through;
  text-decoration-color: brown;
   vertical-align:top ;
 text-decoration-style: solid;
  text-align: center;
  text-decoration-thickness: 2px;
  font-variant: small-caps;
}
.demo7
{
  text-decoration-color: brown;
   vertical-align:top ;
 text-decoration-style: solid;
  text-align: center;
  text-indent:40px ;
  letter-spacing: 5px;
  font-style:italic;
font-weight:bold;
font-size:24px;
font-family:Arial;
}
.box{
  width: 500px;
  height: 100px;
  background-color: skyblue;
  padding: 10px;
  border: 5px double green;
  margin: 20px;
  position: absolute;
  top: 50px;
  left: 100px;
  position: sticky;
  top: 0;
  width: 100%;
  
}
div1{
  display: block;
}
div2{
  display:inline-block ;
  z-index: 1Opx;
  display: flex;
  display: column;
  justify-content: center;
  align-items: flex-start;
}